<div class ="appMainDiv" id="user">
    <nav class="navbar navbar-inverse topNavbar navbar-fixed-top" id="header">
            <div class="container-fluid">
               <div class="navbar-header ">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand" routerLink="/top"><img src="../assets/images/logo.png" alt="Logo"></a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                   <div class="nav-book">
                     <a href="#" class="ic"><i class="fas fa-home"></i></a>
                     <a href="#" class="a-book">Booking Online</a>
                     <span class="ic" id="myBtn"><i class="far fa-clock"></i></span>
                   </div> 
                  <ul class="nav navbar-nav">
                     <li><a routerLink="/top">Top</a></li>
                     <li><a routerLink="/supertop">SUPER 6 TOP</a></li>
                     <li><a routerLink="/salons">MASSAGE SALONS</a></li>
                     <li><a routerLink="/single">SINGLE</a></li>
                     <li><a routerLink="/">ABOUT US</a></li>
                     <li><a routerLink="/" >CONTACT US</a></li>
                  </ul>
               </div>
            </div>
    </nav>
    <div class="stickyDiv">
         <div class="mak-list">
            <img src="../assets/images/logo.png" alt="ll" class="logo">
                <ul>
                  <li><a routerLink="/top"><span>top</span></a></li>
                  <li><a routerLink="/supertop"><span>super top</span></a></li>
                  <li><a routerLink="/salons"><span>massage salons</span></a></li>
                  <li><a routerLink="/single"><span>single</span></a></li>
                  <li><a routerLink="/"><span>about us</span></a></li>
                  <li><a routerLink="/"><span>Contact Us</span></a></li>
                </ul>
         </div>
         <div class="butt-book">
           <a href="#" class="ic"><i class="fas fa-home"></i></a>
           <a href="#" class="a-book">Booking Online</a>
           <span class="ic" id="myBtn"><i class="far fa-clock"></i></span>
         </div> 
         <div class="iconsBlock">
           <a href="#" class="f-t-i-p-g"><i class="fab fa-facebook-f"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-twitter"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-instagram"></i></a> 
           <a href="#" class="f-t-i-p-g"><i class="fab fa-pinterest-p"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-google-plus-g"></i></a>
           <p class="fot-text">
             Copyright 2017. Built with love.
             Powered by FriendsLaboratory
           </p>
         </div>
         <div class="totop">
           <a href="#user" class="ungl">
             <i class="fas fa-angle-up"></i>
           </a>
         </div>
      </div> 
      <router-outlet></router-outlet>
<!--modal pages-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
     
<!--  footer -->
    <footer>
        <div class="subFooter">
           <a href="#" class="f-t-i-p-g"><i class="fab fa-facebook-f"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-twitter"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-instagram"></i></a> 
           <a href="#" class="f-t-i-p-g"><i class="fab fa-pinterest-p"></i></a>
           <a href="#" class="f-t-i-p-g"><i class="fab fa-google-plus-g"></i></a>
           <p class="fot-text">
             Copyright 2017. Built with love.
             Powered by FriendsLaboratory
           </p>
        </div>        
    </footer>  
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
    
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}


}
</script>

