<div class="aboutDiv">
  <div>
    <div class="aboutTitle">
      <div class="line"></div>
      <span>About Our Salon</span>
    </div>
    <div class="aboutTeam">
      <div class="teamTitle">
        <h3>Our Dedicated Team</h3>
      </div>
      <!-- teamDiv -1- -->
      <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top1.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Barbara Sahakian</h3>
            <span>Make-up Artist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- teamDiv -2- -->
      <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top2.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Nadira Faber</h3>
            <span>Stylist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>      <!-- teamDiv -3- -->
      <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top3.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Julie Lee</h3>
            <span>Stylist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>      <!-- teamDiv -4- -->
      <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top4.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Rosa Emman</h3>
            <span>Stylist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
       <!-- teamDiv -5- -->
       <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top5.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Barbara Sahakian</h3>
            <span>Make-up Artist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
       <!-- teamDiv -6- -->
       <div class="teamDiv">
        <div>
          <a routerLink="/one"><img src="../assets/images/supertop/top6.jpg" alt=""></a>
        </div>
        <div class="spc_name">
            <h3>Barbara Sahakian</h3>
            <span>Make-up Artist</span>
        </div>
        <div class="aboutIcons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
