*{
  margin: 0px;
  padding: 0px;
}
*{
 font-weight:normal;	
}
.navbar-inverse {
    background-color:#F2F2F2;
    border-color:#F2F2F2;
}
.appleblock{ 
 background-image:url("Screenshot-2017-06-26-at-00.53.56.png"); 
 margin-top:-20%; 
 font-size:cover;
 } 
 .appleblockdiv{
 	width:100%;
 }
.appleblock{  
 animation-name:rafael;
 animation-duration:10s; 
 animation-iteration-count: infinite;
 margin-top:-20px;
 padding: 0px; 
 -moz-transition: all 0.3s;
 -webkit-transition: all 0.1s;
 transition: all 0.8s;
 max-width:100%; 
} 

@keyframes rafael{ 
	from {  transform: scale(0.9);};
	to { transform: scale(1); }
 } 
}
.navbar-right a{
 font-size:19px;
}
.navbar-right{
 padding: 5px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
 background:lightblue;
}
.navbar.bot{
 background:#00C0CE; 
 border-radius:0px; 
 text-align:center;
}
.blockUl{
 display:inline-flex;
 list-style-type:none;
}
.blockUl li{
 margin-top:10px;	
}
.blockUl li a{
 color:white;
 font-size:17px;
 margin-left:10px;
} 
.services-text{
 font-size:50px;
 color:#444444;
}
.inline-elems > * {
 display:inline-block;
 vertical-align:middle; 
}
.marketing-text{
 font-size:30px;
 margin-left:15px;
}
.inline-elems + * {
 margin-top:15px;
}
.text-semibold{
 font-weight:600;
 font-size:20px;
}
.grass-text{
 font-size:17px;
 margin-top:25px;
}
.section-padding-small {
 padding:60px 0;
}
.container-fluid.container-fluid-footer{
 background:#303030;
 margin-top:150px;
 text-align:center;
}
.perfect{
 margin-top:15px;	
}
.text3{
 color:white; 
 font-size: 17px; 
 margin-top:15px;
}
.text4{
 color:white;
}
.blockUl2 li{
 font-size:17px;
}
.blockUl2 li a{
 color:#B3B7B3;
 text-decoration:none;
}
.blockUl2 li a:hover{
 color:#00C0CE;	
}
.text5{
 color:white;
}
.blockUl3 li{
 font-size:17px;
}
.blockUl3 li a{
 color:#B3B7B3;
}
.blockUl3 li a:hover{
 color:#00C0CE;
 text-decoration:none;
}
.pp2{
 color:white;
 font-size:17px;
 margin-top: 15px;
}
.text6{
 color:white;
}
.subtext{
 font-size:17px;
 color:white;
}
.inp2{
 color:white;
 background:#303030;
 border:solid 1px white;
 border-radius:6px;
 height:35px;
 outline:none;
 padding:15px;
}
.but{
 background:#00C0CE;
 width:120px;
 height:45px;
 border-radius:30px;
 color:white;
 margin-top:10px; 
 outline:none;
 border:solid 1px #00C0CE;	
} 
.but:hover{
 background:#303030;
 color:#00C0CE;
}
.per2{
 color:white; 
 font-size:17px;
 text-align:center; 
 padding-top:15px;
}
.footer2{
 background:#1F1F1F;
 height:70px;
}