<div class="serviceDiv">
  <div class="serviceTitle">
      <div class="lineService"></div>
      <span>amazing services</span>
  </div>
  <div class="services">
    <!-- service -1- -->
      <div class="service">
        <div>
          <a routerLink="/one"><img src="../assets/images/services/se1.jpg" alt=""></a>
        </div>
        <div class="price">
          <span>$37.00</span>
        </div>
        <div class="serviceInfo">
            <h3><a href="#">Bridal Makeup</a></h3>
            <span>Time Duration : 25 - 35 min</span>
        </div>
      </div>
      <!-- service -2- -->
      <div class="service">
          <div>
            <a routerLink="/one"><img src="../assets/images/services/se2.jpg" alt=""></a>
          </div>
          <div class="price">
            <span>$37.00</span>
          </div>
          <div class="serviceInfo">
              <h3><a href="#">Commercial Makeup</a></h3>
              <span>Time Duration : 25 - 35 min</span>
          </div>
        </div>
        <!-- service -3- -->
        <div class="service">
            <div>
              <a routerLink="/one"><img src="../assets/images/services/se3.jpg" alt=""></a>
            </div>
            <div class="price">
              <span>$37.00</span>
            </div>
            <div class="serviceInfo">
                <h3><a href="#">Party Makeup</a></h3>
                <span>Time Duration : 25 - 35 min</span>
            </div>
          </div>
          <!-- service -4- -->
          <div class="service">
              <div>
                <a routerLink="/one"><img src="../assets/images/services/se4.jpg" alt=""></a>
              </div>
              <div class="price">
                <span>$37.00</span>
              </div>
              <div class="serviceInfo">
                  <h3><a href="#">Theatrical Makeup</a></h3>
                  <span>Time Duration : 25 - 35 min</span>
              </div>
            </div>
            <!-- service -5- -->
            <div class="service">
                <div>
                  <a routerLink="/one"><img src="../assets/images/services/se5.jpg" alt=""></a>
                </div>
                <div class="price">
                  <span>$37.00</span>
                </div>
                <div class="serviceInfo">
                    <h3><a href="#">Television Makeup</a></h3>
                    <span>Time Duration : 25 - 35 min</span>
                </div>
              </div>
              <!-- service -6- -->
              <div class="service">
                  <div>
                    <a routerLink="/one"><img src="../assets/images/services/se6.jpg" alt=""></a>
                  </div>
                  <div class="price">
                    <span>$37.00</span>
                  </div>
                  <div class="serviceInfo">
                      <h3><a href="#">Movie Makeup</a></h3>
                      <span>Time Duration : 25 - 35 min</span>
                  </div>
                </div>

                <div class="servicesBottom">
                    <div class="pgNumber">
                        <ul>
                          <li><a href="#" class="active">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </div>   
                    <div class="pages">
                        <span>Viewing page 1 of 2</span>
                    </div> 
                </div>
  </div>
</div>