	<!-- <div class="formBlock">
		<form action="">
			<div class="inp-block1">
				<p class="text-info"><label for="user-mail" class="lab">E-Mail</label></p>
				<input type="text" name="emael" id="user-mail">
			</div>
			<div class="text">
                <p class="text-info">Message</p>
				<textarea name="message" id="user-text" cols="30"></textarea>
			</div>
			<div class="btnDiv">
               <input type="button" name="sub" id="user-btn" value="SEND">
			</div>
		</form>
	
	</div> -->
	<div class="aboutBlock">
		<div class="about-block">
			<h1 style="margin: 0;text-align: center">{{x.contact}}</h1>
			<div style="    display: inline-block;
			width: 65%;
			text-align: left;
			vertical-align: top;
			padding-left: 54px;">

				<p><span>{{x.email}}:</span>	 <i style="font-size:17px" class="fa">&#xf003;</i>dubai.tour@mail.ru, <i style="font-size:17px" class="fa">&#xf003;</i>erebuny-air@mail.ru </p>
				<p><span>{{x.address}} :</span><i style="font-size:17px" class="fa">&#xf2ba;</i>2B Zakyan street, Yerevan, RA</p>
				
					<span><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>+374 10 53-83-90 <br>
						<i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>+374 10 50-09-20 <br>
						<i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>+374 91 41-59-54  <br>
						<i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>+374 91 53-59-55 <br>
						<i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>+374 96 41-59-54</span>


			</div>
			  <form #myForm="ngForm" style="    display: inline-block;
			  width: 34%;">
				<div class="form-group">
				  <input type="text" class="form-control" name="name" placeholder="{{x.fname}}" ngModel required email>
				</div>
				<div class="form-group">
				  <input type="text" class="form-control" name="telephone" placeholder="{{x.ftel}}" ngModel required email>
				</div>
				<div class="form-group">
				  <input type="text" class="form-control" name="email" placeholder="E-mail" ngModel required email>
				</div>
				<div class="form-group">
				  <textarea type="text" class="form-control" name="message" placeholder="{{x.fcomment}}" ngModel required  text></textarea>
				</div>
				<div class="form-group">
				  <button type="button" class="btn btn-raised btn-primary buttonSend"  (click)="addUser(myForm.value)">{{x.order}}</button>
				</div>
			  </form>
		</div>
	
	</div>


	
	