/* .formBlock{
 background-color:rgba(0,0,0,0.6);
 position:absolute;
 top:16.5%;
 left:50%;
 transform:translate(-50%);
 width:50%;
 height:auto;
 padding:15px;
 border-radius:10px;
}
#user-mail{
 width:100%;
 padding:10px;
 background:rgba(0,0,0,0.6);
 border:solid 2px rgba(0,0,0,0.6);
 border-radius:7px;
 outline:none;
 padding-left:20px;
 color:lavender;
}
.text-info{
 color:lavender;
 font-size:17px;
 letter-spacing:2px;
}
.lab{
 cursor:pointer;
}
#user-text{
 background:rgba(0,0,0,0.6);
 width:100%;
 border:solid 2px rgba(0,0,0,0.6);
 border-radius:7px;
 outline:none;
 padding-left:20px;
 color:lavender;
 padding-top:20px;
}
.btnDiv{
 width:50%;
 margin:10% auto;
}
#user-btn{
 width:100%;
 padding:10px;
 background:rgba(0,0,0,0.6);
 color:lavender;
 font-weight:bolder;
 letter-spacing:10px;
 font-size:20px;
 border-radius:11px;
 border:solid 2px rgba(0,0,0,0.6);
 cursor:pointer;
 outline:none;
}



@media only screen and (max-width:1024px){
 .formBlock{
  height:auto;
 }
}
@media only screen and (max-width:781px){
 .formBlock{
  width:100%;
  position: static;
  margin-left: 50%;
  border-radius:0px;
  margin-top: -332px
 }
 #user-text{
  height:200px;
 }
 .text-info{
  text-align:center;
 }
} */


.aboutBlock{
    background-image: url("../../assets/images/with_us_background.jpg");
    width:100%;
    padding: 10%;
    background-size: 112%;
    height:auto;
}

.about-block {
    background-color: rgba(0,0,0,0.6);

    height: auto;
    padding: 40px;
    border-radius: 10px;

    margin: 10% auto;
    color: white;

}
.about-block p{    border-bottom: 2px solid;
    width: 61%
}

.about-block span{
    font-size: 22px;
}
.buttonSend{
    padding: 10px 32px;
    /* outline: 2px solid #a76c41; */
    border-radius: 5px;
    border: 1px solid #A76C46;
    color: #A76C46;
    font-size: 18px;
    font-style: oblique;
    margin: 21px 0;
  }
#user-mail{
    width:100%;
    padding:10px;
    background:rgba(0,0,0,0.6);
    border:solid 2px rgba(0,0,0,0.6);
    border-radius:7px;
    outline:none;
    padding-left:20px;
    color:lavender;
   }

   #user-text{
    background:rgba(0,0,0,0.6);
    width:100%;
    border:solid 2px rgba(0,0,0,0.6);
    border-radius:7px;
    outline:none;
    padding-left:20px;
    color:lavender;
    padding-top:20px;
    margin-bottom: 15px;

   }
   #user-btn{
    width:100%;
    padding:10px;
    background:rgba(0,0,0,0.6);
    color:lavender;
    font-weight:bolder;
    letter-spacing:10px;
    font-size:20px;
    border-radius:11px;
    border:solid 2px rgba(0,0,0,0.6);
    cursor:pointer;
    outline:none;
   }
   .text-info{
    color:lavender;
    font-size:17px;
    letter-spacing:2px;
   }
   .lab{
    cursor:pointer;
   }
   #user-text{
       
   }
@media only screen and (min-width:1500px){

}


@media only screen and (max-width:600px){
   .about-block{

       margin: 25% auto;
       width: 100%;
       
   }
   
}