  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


   <nav class="navbar navbar-inverse navbar-fixed-top" id="sticky-wrap">

     <div class="container-fluid"  id="sticky-wrap2" >
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>                        
         </button>

       </div>
       <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-left r-gh2">
           
           
             <li class="list-item"> <i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i> +374 91 41-59-54 </li>
             <li class="list-item"> <i class="fa fa-phone" aria-hidden="true" style="visibility:hidden"></i> +374 10 53-90-94</li>
         
              

            </ul>
         <ul class="nav navbar-nav navbar-right r-gh">
           <li class="list-item"><a href="https://www.facebook.com/E-Travel-354550324735399/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
           <li class="list-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
           <li class="list-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
           <li class="list-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <ul class="nav navbar-nav navbar-right right minMed">
               <li class="dropdown" >
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span id="dropdownLang4">{{lang1}}</span> <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li (click)="changeLang3()"><span  id="dropdownLang5">{{lang2}}</span></li>
                   <li (click)="changeLang4()"><span  id="dropdownLang6">{{lang3}}</span></li>
                   
                 </ul>
               </li>
               <li class="bor-top"><a routerLink="{{path}}/contact" id="appCont"> {{x.contact}}</a></li>
               <li class="bor-top"><a routerLink="{{path}}/cargo" id="appCarg"> {{x.cargo}}</a></li>
               <li class="bor-top"><a routerLink="{{path}}/about" id="appoff1">{{x.about_us}} </a></li>

             </ul>
         </ul>
         
       </div>
       </div>
   
     <div class="myNavbar">
       <a routerLink="{{path}}"><img src="../assets/images/logoDiz2.png" alt="Explorer" id="my-log"> </a>
       <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right right">
           <li class="dropdown" >
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span id="dropdownLang1">{{lang1}}</span> <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li (click)="changeLang1()"><span  id="dropdownLang2">{{lang2}}</span></li>
               <li (click)="changeLang2()"><span  id="dropdownLang3">{{lang3}}</span></li>
               
             </ul>
           </li>
           <li class="bor-top"><a routerLink="{{path}}/contact" id="appCont2"> {{x.contact}}</a></li>
           <li class="bor-top"><a routerLink="{{path}}/cargo" id="appCarg1"> {{x.cargo}}</a></li>
           <li class="bor-top"><a routerLink="{{path}}/about" id="appoff"> {{x.about_us}}</a></li>


         </ul>
     </div>
     </div>
    </nav>
    
    <router-outlet></router-outlet>

  <footer>
     <div class="container23">
  
 
           <div class="leftDiv">
              <p class="text">
                  <a routerLink="{{this.path}}/armenia/incoming" id="appInc">{{x.incoming_tours}}</a>
                  <span class="sp-44">|</span>
                  <a routerLink="{{this.path}}/upcoming" id="appUp">{{x.upcoming_tours}}</a>
                  <span class="sp-44">|</span>
                  <a routerLink="{{this.path}}/news" id="appNews">{{x.news}}</a>
                  <span class="sp-44">|</span>
              
                  <a routerLink="{{this.path}}/contact" id="appCont1">{{x.contact}}</a>
                 </p>

 
            

       </div>
       <div class="rightDiv">
             <img src="../assets/images/logoDiz2.png" alt=""  id="last-log" style ="width: 100px">
             <img src="../assets/images/image35.jpg" alt=""  id="last-log" style ="width: 100px;   height: 38px;
             ">
             <img src="../assets/images/logoDiz3.png" alt=""  id="last-log" style ="width: 100px">
           </div>
     </div>

    
       <section class="sub-footer">
         <div class="row">
           <div class="col-xs-12">
           <p class="text-sub">
           © 2018 Etravel | Dubaitour! Created by <a href="http://motivesystem.com/">MotiveSystem</a> 
           </p>
           </div>
          </div>
             
    </section>
 </footer>
