<div class = "cargoMain">
  <div class = "tourDiv" [ngSwitch]="lang"> 
     
    <div class ="textTour" *ngSwitchCase="'en'">
      <h1 >{{item?.text.en.title}}</h1>
      <p >
        {{item?.text.en.description}}
       </p>
    </div>
    <div class ="textTour" *ngSwitchCase="'ru'">
        <h1 >{{item?.text.ru.title}}</h1>
        <p >
          {{item?.text.ru.description}}
         </p>
      </div>
      <div class ="textTour" *ngSwitchCase="'arm'">
          <h1>{{item?.text.arm.title}}</h1>
          <p >
            {{item?.text.arm.description}}
           </p>
        </div>
        <div class ="textTour" *ngSwitchDefault>
            <h1>{{item?.text.en.title}}</h1>
            <p >
              {{item?.text.en.description}}
             </p>
          </div>
          <div class="addcat"  >
            <div (click)="addCategorie(addmodal)" >{{x.order}}<i class="fa fa-plus-circle" ></i></div>
       </div>  

          <div class="container sl-d">
              <br>
             <div id="myCarousel{{item.text.en.title.length}}" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner">
                 <div class="item active" >
                     <img src="data:image/jpg;base64,{{item.fileInfo[0].b64}}" alt="Flower" >
                  </div>
                       <div class="item"  *ngFor="let item1 of item.fileInfo">
                           <img src="data:image/jpg;base64,{{item1.b64}}" alt="Flower" >
                        </div>
                     </div>
                   </div>
             </div>
             
           <div class="modal" #addmodal (click)="cancel(addmodal)" >
             <div class="modalBox" (click)="cancelStopProp($event)" >
               <p class = "pHead">{{x.order}}</p>
               <form #myForm="ngForm">
                 <div class="form-group">
                   <input type="text" class="form-control" name="name" placeholder="{{x.fname}}" ngModel required email>
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control" name="telephone" placeholder="{{x.ftel}}" ngModel required email>
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control" name="email" placeholder="E-mail" ngModel required email>
                 </div>
                 <div class="form-group">
                   <textarea type="text" class="form-control" name="message" placeholder="{{x.fcomment}}" ngModel required  text></textarea>
                 </div>
                 <div class="form-group">
                   <button type="button" class="btn btn-raised btn-primary buttonSend"  (click)="addUser(myForm.value,addmodal,item)">{{x.order}}</button>
                   <button (click)="cancel(addmodal)" class="buttonSend">{{x.cancel}}</button>
                 </div>
               </form>
             </div>




            
</div> 

</div>
</div>
