<!-- <div  [class.loading-spinner]="isget"></div> -->

<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
<div class="dahboardMain">
    <div class="container carDef">

  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner">



          <div class="item active">
              <div class="carousel-caption" [ngSwitch]="langTour">
              <div  *ngSwitchCase="'en'">
                  <h3 (click)="detail(arrOfferOne)" >{{arrOfferOne?.text.en.title}}</h3>
                
                </div>
                <div  *ngSwitchCase="'ru'">
                  <h3 (click)="detail(arrOfferOne)">{{arrOfferOne?.text.ru.title}}</h3>
                
                </div>
                <div  *ngSwitchCase="'arm'">
                  <h3 (click)="detail(arrOfferOne)">{{arrOfferOne?.text.arm.title}}</h3>
                 
                </div>
              </div>
            <img src="../../assets/images/slide1.jpg" alt="Los Angeles" style="width:100%;">
            
          </div>
        
          <div class="item"  *ngFor="let item of arrOffers, let i=index">
            <div class="carousel-caption" [ngSwitch]="langTour">
              <div  *ngSwitchCase="'en'">
                  <h3 (click)="detail(item)" >{{item?.text.en.title}}</h3>
                 
                </div>
                <div  *ngSwitchCase="'ru'">
                  <h3 (click)="detail(item)" >{{item?.text.ru.title}}</h3>
                  
                </div>
                <div  *ngSwitchCase="'arm'">
                  <h3 (click)="detail(item)">{{item?.text.arm.title}}</h3>
                
                </div>
            </div>
            <img src="../../assets/images/slide{{i+2}}.jpg" alt="Chicago" style="width:100%;">
          
         
          </div>   
        </div>

      </div>
    </div>
    <div class="row menuDiv">
  <div class="col-md-3 col-sm-3 col-xs-12">
     <a routerLink="{{this.router.url}}/armenia"><h4>{{x.incoming_tours}}</h4></a>
      <div class = "cube1">
          <div class="flippety"><img src="../../assets/images/featured-destination-1.jpg" alt="010" >
            <a routerLink="{{this.router.url}}/armenia"><h3 style="display:block">{{x.incoming_tours}}</h3></a>  
          </div>
        
               <div class="flop">
                <img src="../../assets/images/featured-destination-1.jpg" alt="010" id="pic1">
               </div>
       </div>
   </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      <a routerLink="{{this.router.url}}/upcoming"><h4>{{x.upcoming_tours}}</h4></a>
      <div class = "cube2">
               <div class="flippety"><img src="../../assets/images/iok.jpg" alt="010" >
                <a routerLink="{{this.router.url}}/upcoming"><h3 class="h3Text" style="display:block">{{x.upcoming_tours}}</h3></a>
          </div>
        <a href="">  <div class="flop">
                  <img src="../../assets/images/iok.jpg" alt="011">
          </div>
        </a>
       </div>
      </div>
    
      <div class="col-md-3 col-sm-3 col-xs-12" >
        <a routerLink="{{this.router.url}}/offers"><h4 class="h4Abs">{{x.hotOffers}}</h4></a>
       <div class = "cube4">
         <div class="flippety"><img src="../../assets/images/offers.jpg" alt="013" >
          <a routerLink="{{this.router.url}}/offers"><h3 style="display:block">{{x.hotOffers}}</h3>  </a>  
          </div>
      
        <div class="flop">
         <img src="../../assets/images/offers.jpg" alt="013" >
        </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <a routerLink="{{this.router.url}}/news"><h4 class="h4Abs"> {{x.news}}     </h4></a>
        <div class="cube3">
          <div class="flippety"><img src="../../assets/images/news.jpg" alt="012" >
           <a href ="" routerLink="{{this.router.url}}/news"><h3 style="display:block">{{x.news}}</h3> </a>  
             </div>
              
        <div class="flop">
          <img src="../../assets/images/news.jpg" alt="012" id="pic3">
        </div>
        </div>
     </div>
  </div>
</div>
