
*,.row,.col-md-3{
    margin:0px;
    padding:0px;
    /* font-family: 'Raleway', sans-serif; */
   }
  img{
    width:100%;
    display:block;
   }
.carDef{
  width:100%;
  padding: 0;
  margin: 0;
}


.item img{
  height: 800px
}
.flippety img, .flop img{
  height: 170px;
}


  
 
   .row .col-md-3{
    padding:25px;
    margin:auto;
    text-align:center;
   }
   
   .row .col-md-3 a {
     color: white;
     text-decoration: none;

        /* padding: 10px;  background-color: wheat; */
   }
   
   .row .col-md-3 a:hover{
     color: #8C918D
   }
  
.menuDiv {
  /* background-color: rgba(0,0,0,0.3); */
  padding: 0px 55px;
  position: absolute;
  z-index: 3008;
 top:57%;

}
.menuDiv  h4{
position:absolute;
display: none;
font-size: 17px;
/* font-family: sans-serif; */

  padding: 6px;
}
.menuDiv:hover  h4{
  transition: 0.33s;
  width: 84%;
  margin-top: 15%;
  font-size: 17px;
  background: rgba(0,0,0,0.7);
  font-weight: 200;
  padding: 14px;
  display: table-cell;
  border-radius: 3px;
  
/* font-family: sans-serif; */
  letter-spacing: 4.4px;
   }
.cube1, .cube2,.cube3,.cube4 {
text-align:center;
margin:-9px auto;
}
.carousel-caption{
 top:18%;
  transition: 2s;
  animation-name:capt;
  animation-duration: 1.5s;
  font-size: 30px;
  font-weight: 500;

}
.carousel-caption h3{
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;

  
}
.carousel-caption p{

}
.carousel-caption h3:hover{
  color:lavender
}
@keyframes capt{
  from {transform: scale(0,0)}
  to {transform: scale(1,1)}
}
.cube1{
-webkit-transition:-webkit-transform linear .33s;
transition:transform linear .33s;
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d; 
}
.cube2{
-webkit-transition:-webkit-transform linear .55s;
transition: transform linear .55s;
-webkit-transform-style: preserve-3d;
transform-style:preserve-3d;
}
.cube3{
-webkit-transition: -webkit-transform linear .77s;
transition: transform linear .77s;
-webkit-transform-style: preserve-3d;
transform-style:preserve-3d;
}
.cube4{
-webkit-transition: -webkit-transform linear .99s;
transition: transform linear .99s;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.flippety,.flop {

color: white;
background: rgba(0,0,0,0.7);
height: 100%;
-webkit-border-radius: 5px;
border-radius: 5px;

}
.flippety h3{
  padding-top:10px;
  padding-bottom:10px;
  color:white;


  
}

.flippety {
-webkit-transform:translateZ(20px);
transform:translateZ(20px);
}

.flop {
  -webkit-transform:rotateX(-90deg) translateZ(-50px);
  transform:rotateX(-90deg) translateZ(-50px);
 }
 .menuDiv:hover .cube1, .menuDiv:hover .cube2,.menuDiv:hover .cube3,.menuDiv:hover .cube4{
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
 }
 
@media only screen and (min-width:1500px){
   .menuDiv:hover  h4{

  width: 92%;
}
.item img{
  height: 800px
}
.flippety img, .flop img{
  height: 250px;
}

  }
  @media only screen and (min-width:1500px){
    .menuDiv{
      top:25%;
    }
  }
  @media only screen and (max-width:767px){
    .menuDiv{
      position: static;
      padding: 0px;
      
    }
    .item img{
      height: auto;
    }
  .cube1, .cube2, .cube3, .cube4{
    height: 230px
  }
  .carousel-caption{
    top:50%;
     
   }
  }
  @media only screen and (max-width:750px){

    .menuDiv {
      position: sticky;
     
      /* z-index: -1; */
      padding: 0 40px;
  }
  .navbar-inverse{
    z-index: 10000;
  }
  /* .col-sm-3, .cube1, .cube2, .cube3, .cube4, .flippety, .flop, .col-sm-3 img{
    z-index: -1;
  } */
  .carousel-caption{
  
     font-size: 20px;

   }
   .carousel-caption h3{
     font-size: 20px;

   }
  
    }

  /*animation off*/
   @media only screen and (max-width:998px){
    .menuDiv:hover .cube1, .menuDiv:hover .cube2,.menuDiv:hover .cube3,.menuDiv:hover .cube4{
      -webkit-transform: none;
      transform: none;

     }
     .menuDiv:hover h4{
      display: none;
     }
     .row .col-md-3  {
      padding-left: 5px;
      padding-right: 5px;
    }
   
  }